<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Converter App</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <style>
      h1 {
        text-align: center;
      }
      p {
        text-align: center;
      }
      body {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>HTML to CSV Converter</h1>
    <p>Place HTML content in textbox and click sumbit.</p>
    <form action="/api/html" method="post" target="my_iframe">
      <!-- <label for="content">content:</label><br> -->
      <textarea placeholder="<html></html>" rows="20" cols="160" name="content">html</textarea><br /><br />
      <input type="submit" value="Submit" />
    </form>
    <br />
    <label style="font-size:20px;">csv value</label><br />
    <iframe name="my_iframe" width="60%" height="30%"></iframe>
  </body>
</html>
